{% extends 'base.html' %}

{% block head %}
  <head>
    <title>HBNB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/2-footer.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/2-hbnb.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/2-hbnb.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-filters.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-places.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/100-map.css') }}" type="text/css">
    <script src ="{{ url_for('static', filename='scripts/4-hbnb.js') }}"></script>
  </head>
